.box_container {
   box-shadow: 0 10px 3px rgba(10,10,10,.1);
   -webkit-box-shadow: 0 10px 3px rgba(10,10,10,.1);
    border-radius: 10px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.box_container:after, .box_container:before{
    background-color: #ff4757;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -98;
    content: "";
    -webkit-box-sizing: inherit;
   box-sizing: inherit;
    height: 22px;
    width: 97%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    top: calc(100% - 8px);
}