.question-box {
    border: solid #a0a0a0;
    border-width: 1px 1px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #f6f6f6;


}

.question-box:active{

    background-color: greenyellow;
}
.question-box:hover{
  pointer-events: grab;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}