.list-item {
    color: gray;
    text-align: center;
    display: inline-block;
    margin: 2px;
    padding: 2px;
}

.title{
    color: #4a4a4a;
    font-size: 24px;
    font-weight: bold;
}

.active, .header-text{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #e4405f;
 
}

.list{
    list-style-type: none;
    margin-bottom: -2px;
    overflow: hidden;
    text-align: center;
}

.insta-button{
    background-color: #E4405F;
    height: 70px;
}

.insta-button:hover{
    background-color: #2f3542;
    height: 70px;
}
.fb-button{
    background-color: #3b5998;
    height: 70px;
}

.fb-button:hover{
    background-color: #2f3542;
    height: 70px;
}
.wa-button{
    background-color: #25d366;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wa-button:hover{
    background-color: #2f3542;
    height: 70px;
    text-decoration: none;
}
.msgr-button{
    background-color: #0084ff;
    height: 70px;
}

.msgr-button:hover{
    background-color: #2f3542;
    height: 70px;
}
.tw-button{
    background-color: #1da1f2;
    height: 70px;
}

.tw-button:hover{
    background-color: #2f3542;
    height: 70px;
}
.snap-button{
    background-color: #fffc00;
    color: #333333;
    height: 70px;
}

.snap-button:hover{
    background-color: #2f3542;
    color: #fff;
    height: 70px;
}