.list-item {
    color: gray;
    text-align: center;
    display: inline-block;
    margin: 2px;
    padding: 2px;
}

.title{
    color: #4a4a4a;
    font-size: 24px;
    font-weight: bold;
}

.active, .header-text{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #c500ed;
 
}

.list{
    list-style-type: none;
    margin-bottom: -2px;
    overflow: hidden;
    text-align: center;
}

.insta-button{
    background: linear-gradient(45deg,#f09433 0,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)
}